{% extends 'blog/base.html' %}

{% block text %}
    <h2>ON DEMAND
        {% if user.is_authenticated %}
        <a href="{% url 'ask_item' %}" class="btn btn-success">Add Demands</a>
        {% endif %}
    </h2>

{% endblock text %}

{% block content %}
    {% for post in posts %}
        <a href="{% url 'buy_detail' post.pk %}">
                <br>{{ post.title }}
                <br>
                <small>{{ post.date_posted|date:"F d, Y" }} </small>
                <br>
                <h6>Price : NRS.{{post.price}}</h6>
                <br>
        </a>
    {% endfor %}
{% endblock content %}