{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        {% if categories == post.category %}
            <a href="{% url 'sell_detail' post.pk %}">
                <div class="box">
                    <img src="{{ post.product_image.url }}" >
                    <br>{{ post.title }}
                    <br> NRS.{{post.price}}
                    <br>
                    <small>{{ post.date_posted|date:"F d, Y" }} </small>
                </div>
            </a>
        {% endif %}
    {% endfor %}
{% endblock content %}