{% extends 'blog/base.html' %}


{% block content %}
    {% if searched %}
        <h1> You searched for {{ searched }}</h1>
        {% for post in posts %}
        <a href="{% url 'sell_detail' post.pk %}">
            <div class="box">
                <img src="{{ post.product_image.url }}" >
                <br>{{ post.title }}
                <br>Price : NRS.{{post.price}}
                <br>
                <small>{{ post.date_posted|date:"F d, Y" }} </small>
            </div>
        </a>
    {% endfor %}
    {% endif %}
    
{% endblock content %}