{% extends 'blog/base.html' %}

{% block text %}
    <h2>What people are trying to sell.
        {% if user.is_authenticated %}
        <a href="{% url 'list_item' %}"> + List your items </a>
        {% endif %}
    </h2>
{% endblock text %}


{% block content %}
    {% for post in posts %}
        <a href="{% url 'sell_detail' post.pk %}">
            <div class="box">
                <img src="{{ post.product_image.url }}" >
                <br>{{ post.title }}
                <br> {{ post.pk}}
                <br>
                <small>{{ post.date_posted|date:"F d, Y" }} </small>
            </div>
        </a>
    {% endfor %}
{% endblock content %}