{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block text %}
    <h2>Password Reset</h2>
{% endblock text %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Reset Pawword</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group"> 
                <button type="btn btn-outline-info">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}